.site-cost-calculator {
  background-color: $background--main;
  color: #ffffff;
}

.site-cost-calculator__heading {
  margin-top: 0;
}

.site-cost-calculator__total {
  background-color: $background--total-cost;
}