.calculator-fields-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.calculator-fields-list__item {
  margin-bottom: 20px;
  margin-left: 40px;


  &:last-child {
    margin-bottom: 0;
  }


  &--site-type {
    margin-left: 0;
  }
}

.calculator-fields-list__item-name {
  position: relative;

  font-size: 15px;
  font-weight: 400;
  line-height: 15px;

  opacity: 0.5;


  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);

    display: block;

    width: 24px;
    height: 24px;
  }

  &::after {
    display: none;
  }
}

.calculator-fields-list__item-name:hover {
  opacity: 1;
}

.calculator-fields-list__item-input:checked + .calculator-fields-list__item-name {
  opacity: 1;


  &::before {
    border-color: $waydev-green;
  }

  &::after {
    display: block;
  }
}


.calculator-fields-list__item-input--site-type:checked + .calculator-fields-list__item-name--site-type-label {
  background-color: $waydev-green;
  border-color: $waydev-green;
}

.calculator-fields-list__item-name--site-type-label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  min-width: 200px;
  min-height: 70px;

  border: 1px solid $white;


  &:hover {
    cursor: pointer;
  }


  &::before,
  &::after {
    display: none;
  }
}

.calculator-fields-list__item-name--radiobutton,
.calculator-fields-list__item-name--checkbox {
  &::before,
  &::after {
    border-radius: 50%;
  }

  &::before {
    border: 1px solid $white;
  }

  &::after {
    left: -34px;

    width: 12px;
    height: 12px;

    background-color: $waydev-green;
    border: 1px solid $waydev-green;
  }
}

.calculator-fields-list__item-name--checkbox {
  &::before,
  &::after {
    top: 0;
    transform: translateY(0);

    border-radius: 0;
  }

  &::after {
    content: url("../icon-check.svg");

    top: 0;

    background-color: transparent;
    border: none;
  }
}



/*
================================
--------- МЕДИАЗАПРОСЫ ---------
================================
*/

// *** ширина вьюпорта: "Десктоп" ***
@media (min-width: $width--desktop) {
  .calculator-fields-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .calculator-fields-list__item {
    margin-left: 40px;
  }

  .calculator-fields-list__item--site-type {
    margin-left: 20px;


    &:first-child {
      margin-left: 0;
    }
  }

  .calculator-fields-list__item-name {
    display: flex;
    width: 300px;

    &--site-type-label {
      width: auto;
    } 
  }
}