// === ПЕРЕМЕННЫЕ ===

// *** для различных Ширин вьюпорта ***
$width--mobile: 320px;
$width--tablet: 768px;
$width--desktop: 1150px;

// *** для Шрифтов ***
$default-font: "Roboto", "Arial", sans-serif;

// *** для Цветов ***
$white: #ffffff;
$black: #000000;

$background--main: #1b1513;
$background--total-cost: #297f00;
